#canvas {
  border: 1px solid black;
  display: block;
  margin: 20px auto;
  touch-action: none;

}
#scores {
  padding: 1em;
  height: 20%;
  background-color: #7DE3BE;
  overflow: hidden;
  font-size: 20px;
}
#timer {
  padding: 1em;
  height: 20%;
  background-color: #37DEA1;
  overflow: hidden;
  font-size: 20px;
}

.container {
  display: flex;
  align-items: center;
}

.large-button {
  font-size: 15px;
  padding: 5px 10px;
}

